#cuerpo{
    background-image: url("../img/fondo.jpg");
    font: rgb(207, 198, 198);
    width: 100%;
    background-size: cover;
}   

h1 { 
    bottom: 0;
    display: block;
    font-size: 3em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: rgb(202, 210, 218) !important;  
    width: 100%;
    padding: 40px;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 0%;
    text-align: center;
}

h5 { 
    bottom: 0;
    display: block;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: rgb(202, 210, 218) !important;  
    width: 100%;
}

.text_img{
    bottom: 0;
    display: block;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: rgb(202, 210, 218) !important;  
    width: 100%;
}

div{
    color: white;
    align: justify !important;
}

input.placeholder {
    text-align: center;
}

.centrado{
    display: block;
    position: relative;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 0;
}

.card_class{
    color: black;
}
/*
#left_col{
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    color: rgb(202, 210, 218) !important;  
    width: 100%;
    margin-top: 0%;
}
*/